@import 'grid';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$timing: .25s;

$color-blue: rgb(46, 117, 181);
$color-orange: rgb(249, 136, 5);

q {
  &::before,
  &::after {
    content: '"';
  }
}

.case-studies {
  overflow: hidden;
  padding: 40px 0 0 0;

  &__container {
    max-width: 1120px;
  }

  &__h1 {
    font-size: 32px;
    font-family: "Roboto";
    font-weight: 800;
    color: rgb(0, 0, 0);
    line-height: 1.125;

    margin: 0 0 30px 0;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
  }

  &__p {
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(0, 0, 0);
    line-height: 1.444;
    margin: 30px 0;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__top {
    display: flex;

    margin-bottom: 10px;

    flex-direction: column;

    @media screen and (min-width: 992px) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__position {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 20px;
    color: $color-blue;
  }

  &__controls {
    margin-left: auto;
    padding: 10px 0;
  }

  &__effects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__section {
    margin: 30px 0;

    @media screen and (min-width: 768px) {
      margin: 70px 0;
    }

    &_large {
      margin: 30px 0;

      @media screen and (min-width: 992px) {
        margin: 120px 0;
      }
    }
  }

  &__row {
    display: flex;

    position: relative;
    background: #f7f7f7;
    padding: 40px 0;
    margin-left: -15px;
    margin-right: -15px;

    flex-direction: column;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      background: #f7f7f7;
      top: 0;
      bottom: 0;

      width: 100%;
    }

    &::before {
      left: -100%;
    }

    &::after {
      right: -100%;
    }
  }

  &__col {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 992px) {
      width: 50%;
    }
  }

  &__load-more {
    padding: 20px 0;
    text-align: center;
  }

  &__photo {
    display: none;
    position: relative;
    max-width: 420px;
    height: 100%;
    margin-left: auto;

    @media screen and (min-width: 992px) {
      display: block;
    }

    &-src {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 420px;
      padding-bottom: 100%;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      border-radius: 5px;
      overflow: hidden;
    }
  }

  &__card,
  &__banner {
    margin-bottom: 30px;

    @media screen and (min-width: 992px) {
      height: 440px;
    }
  }
}

.cs-card,
.cs-banner {
  position: relative;
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.cs-card {
  border-color: #f2f2f2;

  &:hover {

    .cs-card__position {
      color: $color-blue;
    }

    .cs-card__more {
      background: $color-blue;

      span {
        color: #fff;
      }

      &-arrow {
        fill: #fff;
      }
    }

    .cs-card__top-photo {
      &::before {
        background: rgba(0,0,0,.25);
      }
    }
  }

  &__top-photo {
    position: relative;
    display: block;
    padding-bottom: 50%;

    background-position: center;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: rgba(0,0,0,0);
      z-index: 1;

      transition: background $timing;
    }

    @media screen and (min-width: 480px) and (max-width: 991px) {
      display: none;
    }
  }

  &__inner {
    padding: 20px;
  }

  &__department {
    font-size: 14px;
    font-family: "Roboto";
    color: $color-blue;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__position {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 700;
    color: rgb(0, 0, 0);
    line-height: 1.111;
    margin: 0 0 20px 0;

    transition: color $timing, font-size $timing;

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
    @media screen and (min-width: 992px) {
      font-size: 36px;
    }
  }

  &__description {
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(0, 0, 0);
    line-height: 1.6;
  }

  &__more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    padding: 20px;
    border-top: 1px solid #f2f2f2;
    transition: background $timing;

    span {
      font-size: 15px;
      font-family: "Roboto";
      font-weight: 300;
      color: rgb(168, 177, 180);
      line-height: 1.6;

      transition: color $timing;
    }

    &-arrow {
      display: block;
      fill: #a8b1b4;

      transition: fill $timing;
    }
  }
}

.cs-banner {
  padding: 50px 30px;
  text-align: center;

  justify-content: space-between;

  transition: background $timing;

  &:hover {

    .cs-banner__link {
      svg {
        left: 5px;
      }
    }
  }

  &_blue {
    background: $color-blue;
    border-color: $color-blue;

    &:hover {
      background: darken($color-blue, 5%);
    }
  }

  &_orange {
    background: $color-orange;
    border-color: $color-orange;

    &:hover {
      background: darken($color-orange, 3%);
    }
  }

  &__middle {
    margin: 25px 0;
  }

  &__quote {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 1.778;

    span {
      &::before,
      &::after {
        content: '"';
      }
    }

    &-icon {
      fill: rgba(255,255,255,.3);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      font-size: 15px;
      font-family: "Roboto";
      font-weight: 100;
      color: rgba(255,255,255,.6);

      &:first-child {
        margin-right: 10px;
      }
    }

    svg {
      position: relative;
      display: block;
      left: 0;

      transition: left $timing;
    }

    &-arrow {
      fill: rgba(255,255,255,.6);
    }
  }

  &__title {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
  }

  &__text {
    display: block;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 1.778;
  }

  &__phone {
    display: block;
    font-size: 36px;
    font-family: "Roboto";
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 1.2;

    margin: 20px 0;
  }
}

.cs-testimotial {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;

  background-image: url('http://cerius-wp.darwinapps.com/wp-content/uploads/2015/06/Home-Screen_1276x375.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 40px 0;

  &::before {
    content: ' ';
    position: absolute;
    z-index: 0;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,.6);
    transition: background $timing;

    @media screen and (min-width: 992px) {
      background: rgba(255,255,255,.2);
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 40px;
    z-index: 1;


    @media screen and (min-width: 768px) {
      width: 440px;
      margin-left: auto;
      margin-right: 30px;
    }
  }

  &__quote {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;

    font-size: 16px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    line-height: 1.4;

    &-icon {
      position: absolute;
      left: -40px;
      top: 0;

      width: 27px;
      height: 20px;

      svg {
        display: block;
      }
    }
  }

  &__author {
    margin-bottom: 15px;

    &-text {
      display: block;
      font-size: 15px;
      font-family: "Roboto";
      font-weight: 400;
    }
  }
}

.cs-controls {
  display: flex;
  align-items: center;

  &__control {
    display: block;
    opacity: 1;
    transition: opacity $timing;

    &:hover,
    &:active,
    &:visited,
    &:focus {
      text-decoration: none;
    }

    &:hover {
      opacity: .8;
    }
  }

  span {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(168, 177, 180);
    line-height: 20px;
  }

  &__divider {
    width: 1px;
    height: 16px;
    background: rgb(168, 177, 180);
    margin: 0 10px;
  }

  &__arrow {
    fill: rgb(168, 177, 180);
  }
}

.cs-effects {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 40px;
}

.cs-effect {
  text-align: center;
  padding: 0 0 40px 0;
  max-width: 50%;

  flex-grow: 1;
  flex-basis: 0;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;

    &-text {
      font-size: 30px;
      font-family: "Roboto";
      font-weight: 300;
      color: rgb(0, 0, 0);
      line-height: 0.667;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;

    width: 40px;
    height: 40px;

    img {
      display: block;
    }
  }

  &__percentage {
    font-size: 42px;
    line-height: 50px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-transform: uppercase;

    span {
      display: block;
    }
  }

  &__text {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.222;
  }
}

.cs-list {
  margin-top: 30px;

  &_nt {
    margin-top: 0;
  }

  @media screen and (min-width: 992px) {
    margin: 0;
  }

  & + & {
    margin-top: 15px;
  }

  dt {
    font-size: 28px;
    font-family: "Roboto";
    font-weight: 600;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
  }

  dd {
    position: relative;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(0,0,0);
    line-height: 2;
    margin: 0;
    padding-left: 30px;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 16px;
      left: 0;
      width: 5px;
      height: 5px;
      background: $color-blue;
      border-radius: 50%;
    }
  }
}

.cs-extra {
  padding: 50px 60px;
  background: $color-blue;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto 30px auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 420px;
  }


  @media screen and (min-width: 992px) {
    margin: 0 30px 30px 0;
    box-shadow: 30px 30px 0 rgba(0,0,0,.1);
  }

  &_reverse {
    background: rgba(0,0,0,.1);
    padding: 0;

    @media screen and (min-width: 992px) {
      box-shadow: 30px 30px 0 $color-blue;
    }
  }

  &__media {
    display: block;
    width: 100%;
    padding-bottom: 40%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      padding-bottom: 80%;
    }
  }

  &__quote {
    opacity: .3;
  }

  &__text {
    margin-top: 20px;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 1.5;
  }
}

.cs-results {
  width: 100%;
  padding: 50px 15px;

  border-radius: 5px;

  background: url('../images/results-background.jpg') center no-repeat;
  background-size: cover;
  text-align: center;

  &__h1 {
    font-size: 32px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 1.125;
    margin: 0 0 30px 0;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 1.4;
    margin: 20px 0;

    display: flex;
    align-items: top;
    justify-content: center;

    svg {
      position: relative;
      top: 3px;
      display: block;
      margin-right: 10px;

      @media screen and (min-width: 768px) {
        top: 6px;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
}

.cs-load-more {
  display: block;

  span {
    display: block;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(46, 117, 181);
    line-height: 20px;
  }
}
